@model WebApplicationProject.Data.TariffPlan
@{
    ViewData["Title"] = "EditTariff";
}

<h1>Edit tariff plan</h1>

<form asp-controller="Home" asp-action="EditTariff">
    <label>Id</label>
    <input asp-for="TariffId">
    <label>Tariff</label>
    <input asp-for="TariffName">
    <br />
    <label>Speed</label>
    <input asp-for="Speed">
    <br />
    <label>Traffic limit</label>
    <input asp-for="TrafficLimit">
    <br/>
    <label>IPTV service</label>
    <input asp-for="IPTV">
    <br />
    <button type = "submit">Submit data</button>

</form>