@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>ImaginaryProvider Project</h1>

<div class="card">
    <div class="card-body">
        This is a graduate project of Andrew Tsurkan <a href="">
            atsurkan73@gmail.com</a>
        <p>The following technologies were used:</p>
        <li> ASP.NET Core MVC framework</li>
        


    </div>
</div>
