@model Product
@{
    ViewData["Title"] = "EditProduct";
}

<h1>Edit product</h1>

<form asp-controller="Home" asp-action="EditProduct">
    <label>ProductId</label>
    <input asp-for="ProductId">
    <br />
    <label>ProductName</label>
    <input asp-for="ProductName">
    <br />
    <label>Price</label>
    <input asp-for="Price">
    <br/>
    <button type = "submit">Submit data</button>

</form>