@model List<Product>
@{
    var products = Model;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <br/>
    <button>
        <a asp-controller="Home" asp-action="InputForm">
            Add product</a>
       
    </button>
   
    <br/>

    <table class="table table-striped">
        
        <tbody>
            <tr>
                <td>ProductId</td>
                <td>ProductName</td>
                <td>Price</td>
                <td>Command</td>
            </tr>

        </tbody>

        <tbody>
            @foreach (var product in Model)
       {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                
                 <td>
                        <a asp-controller="Home" asp-action="EditProduct"
                       asp-route-id = "@product.ProductId"> Edit product</a>
                     
                 </td>
        </tr>
       }
        </tbody>
    </table>

</div>
