
@model Product
@*{
    ViewData["Title"] = "InputForm";
}*@

<h1>Adding new product</h1>

<form asp-controller="Home" asp-action="InputForm">
    <label>ProductId</label>
    <input asp-for="ProductId">
    <br />
    <label>ProductName</label>
    <input asp-for="ProductName">
    <br />
    <label>Price</label>
    <input asp-for="Price">
    <br/>
    <button type = "submit">Add Product</button>

</form>

